td{
    text-align:center;
    border-radius:2px;
    border-style:solid;
    border-width:thin;
}
th{
    font-family:"Roboto";
}
div.userInput{
    font-size: 20px;
}
div.pageButton:hover{
    background-color:#f1f3f4;
    }
button.login{
    background-color:#0198E1;
    border-radius: 10px;
    color:#ffffff;
    font-size: 20px;
    font-family: Roboto;
    position: relative;
    margin-left: 320px;
    padding: 10px 20px;
}
div.login{
    border-color:black;
    background-color:#f5f5f5;
    margin:auto;    
    height:400px;
    width:400px;
    border-style:solid;
    text-align:center;
    border-radius:10px;
    margin-top: 10%;
    padding:15px;
    border-width:thin;
    box-shadow:5px 5px black;
}
div.choice{
    width:320px;
    height:30px;
    border-style: transparent;
    padding: 15px;
    border-radius:20px;
    font-weight: bold;
    font-size: 25px;
}
div.choice:hover{
    background-color:#f1f3f4;
}
input[type=text],input[type=password]{
    width:100%;
    border-radius:2px;
    border-style:solid;
    border-width:thin;
}
div.selectedChoice{
    width:320px;
    height:30px;
    border-style: transparent;
    padding: 15px;
    border-radius:20px;
    font-weight: bold;
    font-size: 25px;
    background-color:#e6f2ff;
    color: #1967d2;
}
div.header{
    font-weight:bold;
    color:#C5C6C7;
    padding:10px;
    font-size:30px;
    text-align:left;
    border-style:transparent;
    height:44px;
    background-color:#fafafa;
    width:100%;
    position: relative;
    margin-top:0px;
    margin-left:0px;
}
div.body{
}
body{
    font-family: 'Open Sans';
    background-image:url(photo.jpg);
    background-size: cover;
}
#logout{
    position:absolute;
    right:20px;top:10px;
    font-size:60px;
    color:#5f6368;
}
div.menu{
    position: relative; 
    width:420px;
}